@import "tailwindcss";

.navbar_shadow {
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
}
button{
  cursor: pointer;
}
.shadow__signature {
  box-shadow: 0px 4px 12px 0px #0000001a;
}

.shadow__comments {
  box-shadow: 0px 4px 6px -4px #0000001a;
  /* box-shadow: 0px 10px 15px -3px #0000001a; */
}

.shadow__insigths {
  box-shadow: 0px 4px 12px 0px #0000001a;
}

html {
  scroll-behavior: smooth;
}

.btn_loader {
  width: 30px;
  height: 30px;
  border: 5px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Horizontal scroll uchun */
.custom-scroll::-webkit-scrollbar {
  height: 10px; /* faqat X scroll balandligi */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* scroll track rangi */
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #1b4332, #2d6c52); /* tugma rangi */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #14532d, #1b4332);
}

/* Firefox uchun */
.custom-scroll {
  scrollbar-color: #1b4332;
  scrollbar-width: 10px;
}
